{% extends 'base.html' %}

{% block title %} ADEGA PRESENTE {% endblock %}

{% block content %}

<body>


    {% include 'menu_banner_hero.html ' %}


    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">



                    </ul>
                </div>
            </div>

            <h4>
                <center> Para compras ou mais informações, chame pelo <a
                        href="https://api.whatsapp.com/send/?phone=556196127475&text&type=phone_number&app_absent=0"
                        class="custom-link" target="_blank"><b>WhatsApp</b></a>
                    </br>
                    </br>

                    <!-- Vinhos  página inicial-->
                    <!-- Na seção de produtos, substitua por: -->
                    <div class="row product__filter">
                        {% for vinho in vinhos %}
                        <div class="col-lg-3 col-md-6 col-sm-6 mix new-arrivals">
                            <div class="product__item">
                                <div class="product__image-container">
                                    <!-- Caminho corrigido para usar a estrutura product-X.jpg -->
                                    <img src="{{ url_for('static', filename='img/product/' + vinho.categoria + '/' + vinho.imagem) }}"
                                        alt="{{ vinho.nome }}" class="product-image" loading="lazy"
                                        onerror="this.onerror=null; this.src='{{ url_for('static', filename='img/placeholder.jpg') }}'">
                                </div>
                                <div class="product__item__text">
                                    <span class="category-badge {{ vinho.categoria }}">{{ vinho.categoria|capitalize
                                        }}</span>
                                    <h6>{{ vinho.nome }}</h6>
                                    <div class="price">R$ {{ "%.2f"|format(vinho.preco) }}</div>
                                    <button class="add-to-cart" onclick="adicionarAoCarrinho({{ vinho.id }})">
                                        <i class="fas fa-shopping-cart"></i> Adicionar
                                    </button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                            <div class="product__item">
                                <a href="{{ url_for('vinho_branco') }}" class="product__item__pic set-bg">
                                    <div class="product__item__pic set-bg"
                                        data-setbg="{{ url_for('static', filename='img/product/product-2.jpg') }}">
                                    </div>
                                </a>
                                <div class="product__item__text">
                                    <center>
                                        <h6>Branco LA Jovem – Gewurztraminer 2023 - Vinícola Luiz Argenta, Brasil


                                        </h6>
                                    </center>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                            <div class="product__item sale">
                                <a href="{{ url_for('vinho_rose') }}" class="product__item__pic set-bg">
                                    <div class="product__item__pic set-bg"
                                        data-setbg="{{ url_for('static', filename='img/product/product-3.jpg') }}">
                                    </div>
                                </a>
                                <div class="product__item__text">

                                    <center>
                                        <h6>Rosé Audrey LA Jovem – Pinot Noir e Shyraz 2023 - Vinícola Luiz Argenta,
                                            Brasil

                                        </h6>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                            <div class="product__item">
                                <a href="{{ url_for('vinho_tinto') }}" class="product__item__pic set-bg">
                                    <div class="product__item__pic set-bg"
                                        data-setbg="{{ url_for('static', filename='img/product/product-6.jpg') }}">
                                    </div>
                                </a>
                                <div class="product__item__text">
                                    <center>
                                        <h6>Vinho Laranja Equis Moscatel Naranjo – Natural – Muscat d’ Alexadrie 2022 -
                                            Vinícola Andes Cru, Chile


                                        </h6>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                            <div class="product__item">
                                <a href="{{ url_for('vinho_tinto1') }}" class="product__item__pic set-bg">
                                    <div class="product__item__pic set-bg"
                                        data-setbg="{{ url_for('static', filename='img/product/product-5.jpg') }}">
                                    </div>
                                </a>
                                <ul class="product__hover">

                                    <div class="product__item__text">
                                        <center>
                                            <h6>Tinto L’Alegria Cepas Viejas Arcilla - Biodinâmico – uva Bobal 2019 -
                                                Vinícola Bruno Murciano, Espanha


                                            </h6>
                                        </center>

                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                            <div class="product__item sale">
                                <a href="{{ url_for('vinho_tinto2') }}" class="product__item__pic set-bg">
                                    <div class="product__item__pic set-bg"
                                        data-setbg="{{ url_for('static', filename='img/product/product-4.jpg') }}">
                                    </div>
                                </a>
                                <div class="product__item__text">
                                    <center>
                                        <h6>Tinto Mona Lisa – Gran Reserva Teroldego Colheita Centenária 2020 - Enos
                                            Vinhos de Boutique, Brasil

                                        </h6>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                            <div class="product__item">
                                <a href="{{ url_for('vinho_tinto') }}" class="product__item__pic set-bg">
                                    <div class="product__item__pic set-bg"
                                        data-setbg="{{ url_for('static', filename='img/product/product-7.jpg') }}">
                                    </div>
                                </a>
                                <div class="product__item__text">
                                    <center>
                                        <h6>Tinto Abraço - Gran Reserva Malbec 2018 - Enos Vinhos de Boutique, Brasil
                                        </h6>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                            <div class="product__item">
                                <a href="{{ url_for('vinho_tinto') }}" class="product__item__pic set-bg">
                                    <div class="product__item__pic set-bg"
                                        data-setbg="{{ url_for('static', filename='img/product/product-8.jpg') }}">
                                    </div>
                                </a>
                                <div class="product__item__text">
                                    <center>
                                        <h6>Tinto Tolstoy Amizade – Gran Reserva Malbec 2018 – Enos Vinhos de Boutique,
                                            Brasil
                                        </h6>
                                    </center>

                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </section>
    <!-- Product Section End -->

    <!-- Categories Section Begin -->
    <section class="clients spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title"></br>
                        <h2>Para obter mais informações sobre os vinhos, clique no fornecedor:</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                    <a href="https://www.vinicolaenos.com.br/" class="client__item"><img
                            src="{{ url_for('static', filename='img/clients/client-1.png') }}" alt=""></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                    <a href="https://www.instagram.com/ercoara/" class="client__item"><img
                            src="{{ url_for('static', filename='img/clients/client-2.png') }}" alt=""></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                    <img src="{{ url_for('static', filename='img/clients/client-3.png') }}" alt=""></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                    <a href="https://www.wine-co.com.br/" class="client__item"><img
                            src="{{ url_for('static', filename='img/clients/client-4.png') }}" alt=""></a>
                </div>

            </div>
        </div>
        </div>
    </section>


    <script>
        function confirmarExclusao(produtoId) {
            if (confirm('Tem certeza que deseja excluir este produto?')) {
                fetch(`/admin/excluir_produto/${produtoId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            location.reload(); // Recarrega a página após exclusão
                        } else {
                            alert(data.message || 'Erro ao excluir produto');
                        }
                    })
                    .catch(error => {
                        console.error('Erro:', error);
                        alert('Erro ao excluir produto');
                    });
            }
        }

        // Pré-carrega as imagens e trata erros
        document.addEventListener('DOMContentLoaded', function () {
            const images = document.querySelectorAll('.product-image');

            images.forEach(img => {
                // Cria um novo objeto Image para pré-carregar
                const loader = new Image();
                loader.src = img.src;

                loader.onload = function () {
                    // Quando carregar, mostra a imagem real
                    img.style.opacity = 1;
                };

                loader.onerror = function () {
                    // Se der erro, substitui pelo placeholder
                    img.src = "{{ url_for('static', filename='img/placeholder.jpg') }}";
                    img.style.opacity = 0.6;
                };

                // Estilo inicial
                img.style.opacity = 0;
                img.style.transition = 'opacity 0.5s ease';
            });
        });
    </script>

    <!-- Js Plugins -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.countdown.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slicknav.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mixitup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/carrinho.js') }}"></script>

    <!-- Font Awesome (CDN) -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</body>
{% endblock %}