<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Recuperar senha | github.com/andersonleandrog</title>

  <!--CSS-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/media.css') }}" />

  <!--JS & jQuery-->
  <script type="text/javascript" src="/static/js/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
  <div id="container">
    <div class="banner">
      <img src="/static/img/login.png" alt="Imagem de Login">
      <p class="banner-texto">
        Seja bem vindo, acesse e aproveite todo o conteúdo,
        <br />somos uma equipe de profissionais empenhados em <br />trazer o
        melhor conteúdo direcionado a você, usuário.
      </p>
    </div>

    <div class="box-login">
      <h1>Perdeu a sua senha?<br />Recupere agora</h1>

      <div class="box-account">
        <h2>Insira os dados da sua conta</h2>
        <!-- Formulário para recuperação de senha -->
        <form method="POST" action="{{ url_for('password') }}">
          <input type="text" name="username" id="username" placeholder="Nome de usuário" required />
          <input type="password" name="new_password" id="new_password" placeholder="Nova senha" required />
          <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirmar nova senha"
            required />

          <p style="text-align: justify; padding: 0px 30px 0px 30px">
            Insira seu nome de usuário e a nova senha que deseja usar.
            Certifique-se de que a nova senha seja segura e fácil de lembrar.
          </p>

          <button type="submit">Atualizar senha</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Link para voltar ao login -->
  <a href="{{ url_for('login') }}">
    <div id="bubble">
      <img src="/static/img/user.png" alt="icone-usuário" title="fazer-login" />
    </div>
  </a>
</body>

</html>